#wrapper{
    padding: 30px;
   
}
#summery{
    margin-top: 1%;
    margin-bottom: 2%;
    h1{
        font-size: 80px;
    }
    h4{
        font-size: 40px;
    }
}
#description{
    font-size: 16px;
}
#Wrapper2{
  padding: 40px;
}
